.main{
    display: grid;
    grid-template-columns: 1fr;
}
.main-section{
    background-image: url(../assets/img/backgrounds/main-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    width: 100%;
    display: grid;
    align-items: center;
    color: #903F1C;
}

.main-section-header{
    /*margin: 1rem 0 1rem 5%;
    max-width: 35%;
    min-width: 20ch;
    padding: 0.5rem 0.5rem 0.5rem 0;*/
    max-width: 100%;
    width: 100%;
    
}

.main-section-header__title{
    font-size: 3rem;
    margin: 0 0 1rem;
    color: #fff;
}

.main-section-header__subtitle{
    font-size: 0.5rem;
}

.main-section-header__button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #903F1C;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
    transition: 0.4s background-color;
    border-radius: 4px;
}

.main-section__carrousel{
    margin: 1rem 0 1rem 5%;
    max-width: 35%;
    min-width: 20ch;
    padding: 0.5rem 0.5rem 0.5rem 0;
    overflow: hidden;
}

.main-section__carrousel .grande{
    display: grid;
    grid-template-columns: 100% calc(100% - 0.5em)  calc(100% - 0.5em)  calc(100% - 0.5em);
    gap: 0.5em;
    transition: all 0.5s ease;
}

.main-section__carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    list-style: none;
  }
  
  .main-section__carrousel .punto {
    width: 1em;
    height: 1em;
    margin: 1em 1em 0;
    color:  #393939;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color:  #393939;
  }
  
  .main-section__carrousel .punto.activo {
    background-color: #903F1C;
  }