*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../assets/img/backgrounds/team-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.main-nav{
    --state-close: scale(0);
    --state-hamburguer: scale(1);
    --state-menu: translate(-100%);

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    background-color: transparent;
}

.main-nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer: scale(0);
}

.main-nav__link--logo{
    z-index: 2;
}

.main-nav__logo{
    width: 12em;
}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #F2D9BB;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5% ;

    transform: var(--state-menu);
    z-index: 1;
}


.main-menu__link{
    color: #736C4D;
    text-decoration: none;
    font-size: 1.2rem;
    
}

.main-nav__hamburguer,
.main-nav__close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
    z-index: 1;
}

.main-nav__hamburguer{
    transform: var(--state-hamburguer);
}

.main-nav__close{
    transform: var(--state-close);
}

.main-nav__icon{
    width: 40px;
}


@media (min-width: 768px){
    .main-nav{
        --state-hamburguer: scale(0);
        --state-menu: translate(0);
    }
    
    .main-nav:target{
        --state-close: scale(0);
    }

    .main-menu{
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
        transform: unset;
        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .team-section-main{
        grid-template-columns: repeat(2, 1fr);
    }

    /*.product-section{
        height: 50vh;
    }*/

    .product-section-main__info{
        grid-template-columns: repeat(2, 1fr);
        margin-right: 5em;
    }

    .product-section-main__info--par{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10em;
    }

    .product-section-main__title{
        margin-bottom: 7em;
        justify-self: start;
        grid-column: 2/2;
        grid-row: 1;
        font-size: 3rem;
    }

    .product-section-main__title--par{
        margin-bottom: 7em;
        grid-column: 1/1;
        justify-self: start;
        grid-row: 1;
        font-size: 3rem;
    }

    .product-section-main__text{
        margin-bottom: 3em;
        text-align: left;
        justify-self: start;
        grid-column: 2/2;
        grid-row: 1;
        font-size: 1.5rem;
    }

    .product-section-main__text--par{
        margin-bottom: 3em;
        text-align: left;
        justify-self: start;
        grid-column: 1/1;
        grid-row: 1;
        font-size: 1.5rem;
    }

    .product-section-main__button{
        margin-top: 10em;
        grid-column: 2/2;
        padding: 0.5rem 1rem;
        justify-self: start;
        grid-row: 1;
    }

    .product-section-main__button--par{
        margin-top: 10em;
        justify-self: start;
        grid-column: 1/1;
        padding: 0.5rem 1rem;
        grid-row: 1;
    }


    .product-section-main__img{
        grid-column: 1/1;
        grid-row: 1;
        width: 30em;
    }


    .product-section-main__img--par{
        grid-column: 2/2;
        grid-row: 1;
        width: 30em;
    }
}


