.team-section{
    width: 100%;
    color: #903F1C;
    left: 0;
    display: grid;
    align-items: center;
    margin-bottom: 3em;
}

.team-section-header{
    text-align: center;
    margin-bottom: 2rem;
}

.team-section-header__title{
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.team-section-header__text{
    font-size: 1rem;
}

.team-section-main{
    display: grid;
    gap: 1rem;
    margin: 0 5%;
}
.team-section-main__perfil{
    width: 100%;
    display: grid;
    place-items: center;
    
}

.team-section-main__photo{
    width: 20em
}

